* {
  margin: 0;
  padding: 3px;
  font-weight: bold;
}

.header {
  background: rgb(210, 210, 210);
  grid-area: header;
  text-align: center;
  padding: 40px;
}

.sidebar {
  background: rgb(255, 223, 162);
  grid-area: sidebar;
  text-align: center;
  padding: 15px;
}

.main_part {
  padding: 25px;
}

.part-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10x;
  padding-top: 200px;
}

.part {
  display: grid;
  background-color: rgb(242, 187, 87);
  margin: 10px;
  padding: 30px;
  height: 35px;
}

.part3 {
  grid-column: 1/ 4;
}

.main {
  background: rgb(202, 237, 185);
  grid-area: main;
  text-align: center;
  padding: 40px;
}

.footer {
  grid-area: footer;
  height: 100px;
  width: 100%;
  background: rgb(210, 210, 210);
}

.section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 10px;

}

.section {
  background-color: white;
  padding: 30px;
  margin: 10px;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 15% 1fr 20%;
  height: 100vh;
  grid-template-areas:
    "header header header header"
    "sidebar main main main "
    "footer footer footer footer";
}